 <!--bienvenidos!-->
    <div class="title">Bienvenidos!</div>
    <div class="binn">
        <h2>Somos un emprendimiento de indumentaria importada </h2>
    </div>
    <!--bienvenidos-->

    <!--termina columna-->
    <div class="row">
        <div class="col-12">
            <div class="inicio" id="inicio">
                <div class=".container-fluid">
                    <div class="row align-items-center">

                        <div class="row align-items-center letras">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum qui est doloremque amet
                                odio voluptatum iste culpa nemo praesentium voluptates. Ad repudiandae cumque impedit
                                quia eos pariatur officiis suscipit voluptatibus?lore,
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem veniam quam blanditiis
                                facere. Aliquid velit rerum nisi perferendis commodi veniam, mollitia incidunt fugiat
                                accusamus a, vitae dolore obcaecati quia modi?Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Optio nisi exercitationem, eum provident unde delectus sed facere
                                magnam iusto. Unde sapiente, amet excepturi aliquam deleniti temporibus ea doloremque
                                expedita alias!Lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Laboriosam et quidem reiciendis ullam voluptas corporis reprehenderit sit sequi quis
                                laborum error nulla aliquid unde incidunt doloribus facere, aut mollitia possimus?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, quis exercitationem
                                soluta, consequatur minima excepturi harum error placeat ipsam illo rerum molestiae!
                                Minus, cum nihil culpa sapiente nisi veniam veritatis!
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut officiis quia error
                                recusandae deleniti? Voluptatum laborum accusantium nisi dolores assumenda. Nulla alias
                                harum corporis accusantium magnam natus, molestias debitis dolores.lorem,
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque beatae eveniet totam
                                fugit placeat reprehenderit voluptatibus laudantium. Nostrum reprehenderit ratione sit
                                molestiae illum, explicabo voluptatem id, sint consequuntur ullam vitae!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corrupti magni libero.
                                Voluptates rem incidunt quaerat tenetur, ea dicta aut aspernatur atque ex vitae natus
                                dolores, saepe placeat quas dignissimos?Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Totam quasi vero labore cum obcaecati repellat! Possimus dolorem
                                expedita minima voluptatem, dignissimos natus ut architecto blanditiis recusandae
                                distinctio ipsum eveniet Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                                fuga corporis nostrum, voluptatibus quia nisi nihil eos assumenda ad cumque alias minima
                                dignissimos repudiandae! Veniam tenetur ipsum autem nulla voluptatum!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error hic ipsa alias,
                                praesentium perferendis nam modi. Dignissimos, ea praesentium deleniti, aliquam
                                repudiandae nobis quidem at iste quam eum hic?Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam sapiente molestiae laboriosam harum eius culpa in voluptatibus
                                perspiciatis excepturi, aspernatur velit consectetur voluptate recusandae sit sint nemo
                                distinctio nulla nam.
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet numquam itaque, nisi
                                ipsum explicabo a totam alias pariatur voluptas vitae quisquam distinctio sit
                                consequatur consequuntur! Reiciendis, harum! Dolores, fugiat facilis! Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Asperiores, maxime. Aliquid, fugiat suscipit
                                nulla nam nesciunt ut dolores libero odio tempora sapiente corporis, culpa minima
                                asperiores harum qui? Quasi, reprehenderit?
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, sed error esse quisquam
                                explicabo obcaecati consequuntur, expedita voluptatibus, quasi distinctio assumenda
                                voluptate sequi modi ipsa. Sequi, nisi inventore. Illo, totam.

                            </p>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!--Se abren letras de arriba-->
    <div class="row">

        <div class="col-md-12 frrr" id="preguntas">
            <h2>Preguntas frecuentes</h2>
        </div>
    </div>


    <!--se cierran letras de arriba-->



    <!--Abre cards-->
    <div class=".container-fluid contenedor">
        <div class="card-group">

            <div class="card">
                <img src="/public/images/rrrrr.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">多Quienes somos?</h5>
                    <p class="card-text">Somos un emprendimiento independiente,nos dedicamos a la venta de ropa por
                        mayor y por menor.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="/public/images/descargar.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">多Hacen envios?</h5>
                    <p class="card-text">Si,hacemos envios a todos el pais.Nos manejamos via correo</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/public/images/descargar (1).jpeg (1).jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">多Cuales son sus redes sociales?</h5>
                    <p class="card-text">Nos podes encontrar en instagram como @pepeshowroom y en facebook como
                        "pepeindumentaria"</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>





    </div>
    <!--cierra cards-->

    <!--Se abre formulario-->
    <div class=" row col-md-6 formulario" v id="formulario">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Contrase単a</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Casa/departamento/piso</label>
                <input type="text" class="form-control" id="inputAddress2">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">Pais</label>
                <select id="inputState" class="form-select">
                    <option selected>Selecione un pais</option>
                    <option>arabia saudita</option>
                    <option>argentina</option>
                    <option>brasil</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Codigo postal</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    <!--Se cierra formulario-->
    <!--Se abre mapa-->
    <div class="col-md-6 mapa" id="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.7736948490856!2d-57.573889387761156!3d-38.00573874491839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584deb7308df243%3A0x73f08d2c6aeca400!2sUniversidad%20Nacional%20de%20Mar%20del%20Plata!5e0!3m2!1ses-419!2sar!4v1696613412295!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <!--se cierra mapa-->